#OverlayButton {
    position: fixed;
    top:10%;
    left: 50%;
    right: 50%;
    color : "#333333";
    background-color : rgba(51, 51, 51, 0.05);
    width: 8%;
    padding: 10px 0;
    cursor : pointer;
    border-Radius : 8px;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 999;
}

#OverlayButton:hover {
    background-color : rgba(51, 51, 51, 0.08);
}

.ParentElement {
    display: none;
    position: fixed;
    top:30%;
    left: 50%;
    right: 50%;
    width: 600px;
    max-width: 600px;
    margin: 0 auto;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 110;
}
#CloseButton {
    position: fixed;
    margin: auto;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 5%;
}
