#OverlayButton {
    color : "#333333";
    background-color : rgba(51, 51, 51, 0.05);
    display : block;
    padding : 10px 12px;
    cursor : pointer;
    border-Radius : 8px;
    position : fixed;
    z-Index : 98;
    width: 12%;
    margin : auto;
    top : 5%;
    right : 0;
    left : 0;
}

#Overlay {
    display: none;
    position: fixed;
    z-Index : 99;
    margin: auto;
    top: 15%;
    right: 0;
    left: 0; 
}

#CloseButton {
    display: none;
    width: 2%;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    margin: auto;
    top: 15.9%;
    right: 0;
    left: 44%;
}